---
layout: single
title: "History Of Biometric Verification"
categories:
  - Biometric
tags:
  - biometric
  - verification
  - authentication
---

![image-center]({{ site.url }}{{ site.baseurl }}/assets/images/History_of_biometric_verification.png){: .align-center}


- The Chinese emperor Ts'in, she was already authenticating specific seals with a fingerprint way back in the second century B.

- In 1858 [William James Herschel](https://en.wikipedia.org/wiki/Sir_William_Herschel%2c_2nd_Baronet), a British administrator in India used Fingerprints. Having been put in charge of building roads in Bengal, he had his subcontractors sign contracts with their fingers. That was an early form of biometric authentication and a sure way of being able to find them more quickly if they defaulted.

- At the end of the 19th century, [Bertillon](https://www.nlm.nih.gov/exhibition/visibleproofs/galleries/technologies/bertillon.html), a French police officer, took the first steps in scientific policing. He used body measurements taken of specific anatomical characteristics to **identify reoffending criminals**, a technique that often proved successful.

- French police in Paris (préfecture de police) started to initiate this process in 1888 with its Forensic Identification Unit (mugshot and anthropometry). Four prints were instituted in 1894, and ten prints were added in 1904.

- In the U.K., the Metropolitan Police started the use of biometrics for identification in 1901. 

- In the U.S., it was initiated by the New York police in 1902 and by the FBI in 1924. 

**The measurement of unique patterns** (aka behavioural biometrics) is not new either. It goes back to the 1860s. Telegraph operators using Morse code recognized each other by the way they would send dash and dot signals.
 
During World War II, allied forces used the same method to identify senders and authentication messages they received.
This process is the basic principle of biometric systems: **to identify a person based on specific characteristics**.
 
Biometrics are in use for a long time and still, we will be using biometric identifications more than ever. Biometric technologies are evolving and we all will be amazed by the use cases in future.
