---
title: "History Of Biometric Verification"
categories:
  - Biometric
tags:
  - biometric
  - verification
  - authentication
---


History of Biometric verification.

